body{
  background-color: gainsboro;
  font-family: sans-serif;
  }
#wrapper{
  background-color: ghostwhite;
  width: 70%;
  margin: auto;
  overflow: hidden;
  }
#titleBar{
  background-color: darkseagreen;
  color: white;
  font-size: 50px;
  font-weight: lighter;
  text-align: center;
  padding: 10px;
  }
#titleBarImg{
  height:60px;
  vertical-align: middle;
  }
#navigation{
  text-align: center;
  border-bottom: 1px solid darkseagreen;
  }
div.tab{
  display: inline-block;
  width:10%;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
div.tab a{
  text-decoration: none;
}
#content{
  margin:20px;
  }
p.quote{
  text-align: center;
  font-size:20px;
}
p.citation{
  text-align: center;
  font-size:15px
}
p.reference{
  text-indent:-20px;
  margin-left:30px;
}
img.smallRight{
  height:250px;
  float:right;
  margin-left:15px;
  margin-bottom:10px;
  margin-top:10px;
}
img.smallLeft{
  height:300px;
  float:left;
  margin-right: 40px;
}
img.math{
  height:100px;
  display:block;
  margin-right:auto;
  margin-left:auto;
}
img.mathBig{
  height:300px;
  display:block;
  margin-right:auto;
  margin-left:auto;
}
img.mathRight{
  height:300px;
  margin-right:20px;
}
img.mathLeft{
  height:300px;
  margin-left:150px;
}
#bottomNav{
  text-align: right;
  font-size: 12px;
  border-top: 1px solid darkseagreen;
  padding-right: 10px;
  clear: both;
  }
