body{
		background-color: white;
		}
	#wrapper{
		border: none;
		background-color: white;
		width: 50%;
		margin: auto;
		overflow: hidden;
		}
	#titleBar{
		border: none;
		background-color: white;
		color: black;
		font-size: 40px;
		font-family: times;
		text-align: center;
		}
	#content{
		margin: 5px;
		border: none;
		text-align:center;
		}
	#description{
		text-align: center;
		border: none;
		font-size: 20px;
		font-family: helvetica;
		padding-right: 10px;
		}
img.sporkimage{
	height: 400px;
}
