body{
  background-color: lightgray;
}

#wrapper{
  text-align: center;
  background-color: white;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
}

#titleBar{
  background-color: red;
  color: black;
  font-size: 64px;
  padding: 10px;
}
#mainNavigation{
  text-align: center;
  padding: 10px;
}
div.tab{
  display: inline-block;
  width: 10%;
  color: white;
}
#content{
  font-size: 40px;
  color: red;
}
#spork{
  padding: 30px;
}
button{
  margin-bottom: 30px;
}
