body{
  background-color: lightgray;
}
#wrapper{
  background-color: white;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
}
#titleDiv{
  background-color: purple;
  color: white;
  font-size: 64px;
  text-shadow: 3px 3px black;
  padding: 10px;
}
#primaryNavigation{
  text-align: center;
  border-bottom: 1px solid black;
}
#content{
  padding: 10px;
}
#secondaryNavigation{
  text-align: right;
  border-top: 1px solid black;
  font-size: 10px;
  padding-right: 15px;
  clear:both;
}
p{
  text-indent: 15px;
}
#titleImage{
  height: 80px;
  vertical-align: middle;
}
img.smallRight{
  height: 200px;
  float: right;
  padding: 5px;
}
img.smallLeft{
  height: 200px;
  float: left;
  padding: 5px;
}
img.smallCenter{
  height: 200px;
  display: block;
  margin: auto;
}
div.tab{
  display: inline-block;
  width: 15%;
}
p.ref{
  margin: 30px;
  text-indent:-30px;

}
