div{
  border: 0px solid black;
  padding: 10px;
  margin:  10px;
}
body{

}
#wrapper{
  background-color: white;
  margin:auto;
  overflow: hidden;
  text-align: center;
}
#titleBar{
  font-size: 70px;
  margin: 10px;
  text-align: center;
}
#mainNavigation{
align-items: center;
}
#spork{
  width: 95%;
  text-align: center;
  margin:auto;
  height: 600px;
}
#content{
  width: 80%;
  margin:auto;
}
#secondaryNavigation{
  width:90%;
  text-align: center;
  border-top: 1px solid black;
  font-size: 12px;
  clear:both;
}
div.pensize{
  width: 20px;
  height:50px;
  background: black;
  padding: 0px;
  border: black;
  display: inline-block;
}
div.one{
height: 1px;
}
div.two{
height: 2px;
}
div.three{
  height: 3px;
}
div.four{
height: 4px;
}
div.five{
  height: 5px;
}
div.six{
height: 6px;
}
div.seven{
  height: 7px;
}
div.eight{
height: 8px;
}
div.nine{
height: 9px;
}
div.ten{
height: 10px;
}
div.eleven{
height: 11px;
}
div.twelve{
height: 12px;

}
div.red{
  background: red;
}
div.orange{
  background: orange;
}
div.blue{
  background: blue;
}
div.pink{
  background: pink;
}
div.yellow{
  background: yellow;
}
div.magenta{
  background: magenta;
}


div.grey{
  background: grey;
}

div.skyblue{
  background: skyblue;
}
div.salmon{
  background: salmon;
}
div.purple{
  background: purple;
}

div.forestgreen{
  background: forestgreen;
}
