body{
  background-color: lightgray;
}
#wrapper{
  background-color: white;
  width: 80%;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
}
#titleDiv{
  background-color: pink;
  color:gray;
  font-size: 30px;

  padding:10px;
}
#primaryNavigation{
  text-align: center;
  border-bottom: 1px solid lightgray;
}
#content{
  padding:10px;
  text-align: center;
}
#secondaryNavigation{
  text-align: right;
  border-top: 1px solid lightgray;
  font-size: 10px;
  padding-right: 10px;
}
p{
  text-indent: 30px;
}
#titleImage{
  height:80px;
  vertical-align: middle;
}
img.smallRight{
  height:200px;
  float:right;
  padding:10px;
}
img.smallLeft{
  height:200px;
  float:left;
  padding:10px;
}
img.smallCenter{
  height:200px;
  display:block;
  margin:auto;
  padding:10px;
}
div.tab{
  display:inline-block;
  width:18%;
}
p.ref{
  margin:30px;
  text-indent:-30px;
}
