body{
  background-color: honeydew;
  font-family:sans-serif;
  font-weight: lighter;
  text-align: justify;
  color: gray;
  }
#wrapper{
  background-color: ivory;
  width: 50%;
  margin: auto;
  overflow: hidden;
  }
#titleBar{
  background-color: ivory;
  color: cadetblue;
  font-size: 60px;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
  font-weight:lighter;
  }
#navigationBar{
  text-align: center;
  border-bottom: 1px solid gray;
  font-family: sans-serif;
  font-weight: lighter;
  }
#content{
  margin: 20px;
  }
#secondaryNavigation{
  text-align: right;
  border-top: 1px solid gray;
  font-size: 10px;
  padding-right: 10px;
  }
#titleBarImage{
height: 60px;
}
div.tab{
display: inline-block;
width: 18%;
vertical-align: middle;
}
img.smallRight{
  height: 150px;
  float: right;
}

p.reference{
  text-indent: -30px;
  margin-left: 40px;
}
img.surfaceTab{
  height: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;

}
div.tab a{
  text-decoration: none;
}
