body{
  background-color: #20B2AA;
  }
#wrapper{
  background-color: white;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  }
#titleBar{
  background-color: #FA8072;
  color: white;
  font-size: 50px;
  padding: 10px;
  text-align: left;
  text-shadow: 3px 3px black;
  font-family: fantasy;
  }
#navigationBar{
  text-align: center;
  border-bottom: 1px solid gray;
  font-family: fantasy;
  padding-top: 10px;

  }
#content{
  margin: 20px;
  }
#secondaryNavigation{
  text-align: right;
  border-top: 1px solid gray;
  font-size: 10px;
  padding-right: 10px;
  clear:both;

  }
#titleBarImage{
  height: 80px;
  vertical-align: middle;
}
div.tab{
  display:inline-block;
  width:18%;
}
img.circle{
height:250px;
float: right;
padding-left: 10px;
}

img.bust{
  height: 200px;
float: left;
padding-right: 20px;
}

img.triangle{
  height:200px;
  float:right;
}
img.sum{
  padding-left: 30px;
}
img.ten{
  float:left;
  padding-right: 20px;
  height:200px;

}
img.music{
margin-left: auto;
margin-right: auto;
display: block;
}
p.reference{
  text-indent: -30px;
  margin-left: 40px;
}

#content{
  font-family: sans-serif;
}
div.tab a{
  text-decoration: none;


}
