button{
	-webkit-appearance: none;
}
div.title{
	height:100px;
	background:darkcyan;
	text-align:center;
	padding:20px;
	color:darkblue;
	text-weight:10px;
	font-size:40px;
}
div.footer{
	height:40px;
	background:darkcyan;
	text-align:center;
	
}