body{
  background-color: black;
}
#wrapper{
  background-color: white;
  width: 80%;
  margin:auto;
  border-radius:15px;
  overflow:hidden;

}
#titleDiv{
  background-color: darkblue;
  color:white;
  font-size:45px;
  padding:10px;
  text-shadow:5px 5px black;
}
#primaryNavigation{
  text-align:center;
  border-bottom:1px solid gray;
}
#content{
  padding: 20px;
}
#secondaryNavigation{
  border-top:1px solid gray;
  text-align:right;
  font-size:10px;
  padding-right:10px;
}
p{
  text-indent:30px;
}
#titleBarImage{
  height:60px;
  vertical-align: middle;
}
img.smallRight{
  height:200px;
  float:right;
  padding:10px;
}
img.smallCenter{
  height:200px;
  display:block;
  margin:auto;
}
div.tab{
  display:inline-block;
  width:18%;
}
div.tab a{text-decoration: none;
}
p.ref{
  margin: 30px;
  text-indent: -30px;
}
