body{
		
background-color: white;
		
}
	
#wrapper{
		
border: none;
		
background-color: white;
		
width: 50%;
	
	
margin: auto;
		
overflow: hidden;
	
}
	
#titleBar{
		
border: none;
		
background-color: white;
		
color: black;
		
font-size: 40px;
		
font-family: times;
		
text-align: center;
		
}
	
#content{
		
margin: 5px;
		
border: none;
		
text-align:center;
		
}
	
#description{
		
text-align: center;
		
border: none;
		
font-size: 20px;
		
font-family: helvetica;
		
padding-right: 10px;
		
}
img.sporkimage{
	
height: 400px;
}


#buttondiv {
width:75%;
}
#both{
position: absolute;
text-align:center;
top:25%;
bottom:5%;
right:5%;
left:5%;
}

#rightButton{
color:grey;
position:absolute;
top:0px;
right:0px;
width:50%;
bottom:0px;
background:none;
border:none;
text-align:right;
outline:none;
font-size:50px;
}

#leftButton{
color:grey;
position:absolute;
top:0px;
width:50%;
left:0px;
bottom:0px;
background:none;
border:none;
text-align:left;
outline:none;
font-size:50px;