div{
  background-color: lightgray;
}
#wrapper{
  width:80%;
  margin:auto;
  border-radius:15px;
  overflow:hidden;
  text-align: center;
}
#titleBar{
  background-color:lightblue;
  color:black;
  font-size:50px;
  padding:10px;
  text-shadow:3px 3px white;
}

}
#mainNavigation{
  text-align:center;
  border-bottom:1px solid gray;

}
#content{

}
#secondaryNavigation{
  border-top:1px solid gray;
  text-align:right;
  font-size:15px;
  padding-right:20px;
  clear:both;

}
img.smallCenter{
  height:200px;
  display: block;
  margin:auto;
  padding: 10px;
}
