 div{
}
#wrapper{
width: 80%;
margin: auto;
}
#titleBar{
border-bottom: 1px solid black;
font-size:70px;
}
#mainNavigation{
font-size:9px;
}
#content{
  width: 65%;
  margin:auto;
}
button.thumb{
  width:120px;
  height:120px;
  border:1px;
  border-radius:0px;
  background:lightgrey;
  margin:10px;
}
  img.thumb{
    width:100px;
    height:100px;
  }
#gallery{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background:rgba(40,0,0,0.5);
  display:none;
}
#close{
  position:fixed;
  top:0px;
  right:0px;
  font-size:30px;
  color:white;
  background:none;
  border:none;
}
#caption{
  color:white;
}
#photoDiv{
  display:table-cell;
  vertical-align: middle;
  text-align:center;
}
#photo{
  max-width: 600px;
  max-height: 600px;
}
#leftButton{
  position:fixed;
  left:0px;
  top:0px;
  height:100%;
  width:40%;
  background:none;
  border:none;
  outline:none;
  font-size:40px;
  color:white;
  text-align:left;
}
#rightButton{
  position:fixed;
  right:0px;
  top:0px;
  height:100%;
  width:40%;
  background:none;
  border:none;
  outline:none;
  font-size:40px;
  color:white;
  text-align:right;
}
