div{
  border: 5px solid transparent;
  padding: 10px;
  margin:  10px;
}
div{

}
#wrapper{
text-align: center;
}
#titleBar{
  font-size: 42pt;
  font-family: sans-serif;
  color: white;
  border-bottom: 1px solid lightgrey;
  background-color: cadetblue;
  padding: 10px;
}
#mainNavigation{

}
#content{

}
#secondaryNavigation{
  text-align: right;
  border-top: 1px solid lightgrey;
  font-size: 11pt;
  padding-right: 7px;
  clear:both;
}
