html { 
  background: url(smile.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div{
border:1px solid black;
}

body{
font-family: Courier;
font-size:12px;
color:darkorange;
}

H1{
font-size:300%;
text-align: center;
}

H2{
font-size:200%;
text-align: center;
}

H3{
font-size:100%;
text-align: center;
}

p{
text-indent:30px;
text-align: left;
}

LI{
text-align: left;

