#titlebar{
	font-size: 40px;
	padding: 5px;
	background: rgb(250,250,255);
	box-shadow: 0px 0px 10px rgb(5,5,0);
	font-weight: bold;
	position: fixed;
	top:0px;
	left:0px;
	right:0px;
	z-index: 10;
}

body{
	background-image: url('png/background.png');
	margin:0px;
}
#spork{
	text-align: center;
}

canvas{
	max-width: 90%;
}

#content{
		padding-top: 80px;
		font-size:20px;
		width:80%;
		margin: auto;
		background: white;
}

div.image{
	text-align:center;
	margin: 20px;
}
div.imageTitle{
	font-weight: bold;
}
img.medium{
	max-height: 400px;
}
img.small{
	max-height: 200px;
}
div.imageCaption{
	font-size: 15px;
	width: 400px;
	margin: auto;
	margin-bottom: 30px;
}