body{
background-color: pink;
}
div{
  border: 1px solid aqua;
  padding: 10px;
  margin:  10px;
  background-color: white;
}
#wrapper{

}
#titleBar{
font-size: 50px;
color: aqua;
background-color: pink;
}
#mainNavigation{

}
#content{

}
#secondaryNavigation{

}
#spork{
  background-color: white;
}
