body{
  background-color: tomato;
}
#wrapper{
  background-color: white;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}
#titleDiv{
  background-color: lightgrey;
  color: black;
  font-size: 64px;
  font-family: sans-serif;
  text-align: center;
}
#primaryNavigation{
  text-align: center;
  border-bottom: 1px solid lightgrey;
}
#content{
  padding: 10px;
  font-size: 20px;
  font-family: sans-serif;
}
#caption{
  color: grey;
  text-align: center;
  font-family: sans-serif;
}
#contentTitles{
  font-size: 26px;
  font-family: sans-serif;
}
#secondaryNavigation{
  text-align: right;
  border-top: 1px solid lightgrey;
  font-size: 11pt;
  padding-right: 7px;
  clear:both;
}
p{
  text-indent: 30px;
}
#titleImage{
  height: 80px;
  vertical-align: middle;
}
img.smallRight{
  max-height: 200px;
  float: right;
  padding: 10px;
}
img.smallLeft{
  height: 200px;
  float: left;
  padding: 10px;
}
img.smallCenter{
  max-width: 200px;
  display: block;
  margin: auto;
}
div.tab{
  display: inline-block;
  width:18%;
}
p.ref{
  margin: 30px;
  text-indent: -30px;
}
img.medCenter{
  max-width: 500px;
  display: block;
  margin: auto;
}
