
#wrapper{
background: lightgrey;
padding: 100px;
padding-top: 50px;
padding-bottom: 50px;
}
#titleBar{
font-size: 100px;
font-family: sans-serif;
color: white;
}
#mainNavigation{
justify-content: center;
font-family: cursive;
font-weight: bold;
padding-left: 320px;
font-kerning: 100px;
padding-top: 50px;
padding-bottom: 50px;

}
#content{

}
#secondaryNavigation{

}
#spork{
  padding-bottom: 50px;
}
div.pensize{
  width:20px;
  background:black;
  padding: 0px;
  display:inline-block;
}
div.one{
  height:1px;
}
div.three{
  height: 3px;
}
div.five{
  height:5px;
}
div.ten{
  height:10px;
}
div.fifty{
  height:50px;
}
div.red{
  background: red;
}
div.orange{
  background: orange;
}
div.yellow{
  background:yellow;
}
div.green{
  background:green;
}
div.blue{
  background:blue;
}
div.purple{
  background:purple;
}
div.white{
  background: white;
}
