body{
  background-color: lightgray;
  }
#wrapper{
  background-color: white;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  }
#titleBar{
  background-color: blue;
  color: white;
  font-size: 40px;
  padding: 10px;
  text-shadow: 3px 3px black;
  }
#navigationBar{
  text-align: center;
  border-bottom: 1px solid gray;
  }
#content{
  margin: 20px;
  }
#secondaryNavigation{
  clear: both;	
  text-align: right;
  border-top: 1px solid gray;
  font-size: 10px;
  padding-right: 10px;
  padding-bottom:2px;
  }
#titleBarImage{
  height: 60px;
  vertical-align: middle;
}
div.tab{
  display: inline-block;
  width: 18%;
}
img.smallRight{
  height: 200px;
  float: right;
}
p{
	text-indent: 30px;
}
p.reference{
  text-indent:-30px;
  margin-left: 40px;
}
img.math{
  height: 200px;
  margin: auto;
  display: block;
}
div.tab a{
  text-decoration: none;
}
img{
	padding: 5px;
}