	body{
		background-color: lightgray;
		}
	#wrapper{
		background-color: white;
		width: 80%;
		margin: auto;
		border-radius: 20px;
		overflow: hidden;
		}
	#title_Bar{
		background-color: darkred;
		color: white;
		font-size: 50px;
		padding: 10px;
		text-shadow: 3px 3px black;
		}
	#nav_Bar{
		text-align: center;
		border-bottom: 1px solid gray;
		}
	#content{
		margin: 20px;
		}
	#sec_nav_Bar{
		text-align: right;
		border-top: 1px solid gray;
		font-size: 10px;
		padding-right: 15px;
		clear: both;
		}
	#title_Bar_Image{
		height: 70px;
		vertical-align: middle;
		}
	div.tab{
		display: inline-block;
		width: 18%;
		}
	img.smallRight{
		height: 250px;
		float: right;
		}
	img.smallerLeft{
		height: 150px;
		float: left;
		padding-left: 20px;
		padding-bottom: 15px;
		}
	img.smallerRight{
		height: 150px;
		float: right;
		padding-right: 20px;
		padding-bottom: 15px;
		}
	p.reference{
		text-indent: -30px;
		margin-left: 40px;
		}
	div.tab a{
		text-decoration: none;
		}