body{
  padding: 0px;
  margin: 0px;
}
#wrapper{

}
#titleBar{
border-bottom: 1px solid black;
font-size: 70px;
margin: 20px;
}
#mainNavigation{
font-size: 13px;
margin: 20px;
}
#content{
  margin: 20px;
  width: 60%;
}
button.thumb{
  width: 120px;
  height: 120px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: lightgray;
  margin: 4px;
}
img.thumb{
  width: 100px;
  height: 100px;
}
#gallery{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.92);
  display: none;
}
#close{
  position: fixed;
  top: 0px;
  right: 0px;
  font-size: 35px;
  color: white;
  background: none;
  border: none;
  outline: none;
}
#secondaryNavigation{
    text-align: right;
    border-top: 0.5px solid lightgray;
    font-size: 12px;
    margin: 15px;
    padding-right: 10px;
    clear:both;
}
#caption{
  color: white;
}
#photoDiv{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#photo{
  max-width: 80%;
  max-height: 80%;
}
#leftButton{
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 40%;
  background: none;
  border: none;
  outline: none;
  font-size: 40px;
  color: white;
  text-align: left;
}
#rightButton{
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 40%;
  background: none;
  border: none;
  outline: none;
  font-size: 40px;
  color: white;
  text-align: right;
}
