body{
  background-color: white;
}
#wrapper{
  background-color: black;
  width: 80%;
  margin:auto;
  border-radius: 30px;
  overflow: hidden;
}
#titleBar{
  background-color: #086A87;
  color: white;
  font-size: 40px;
  padding: 10px;
  text-shadow: 3px 3px black;
  text-align: center;
  font-family: cursive;
  padding: 10px;
  border-radius: 10px;
}
#content{
  margin: 20px;
  text-align: center;
  font-family: cursive;
  font-size: 30px;
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
  object-position: center;
  }
#secondaryNavigation{
  text-align: right;
  border-top: 1px solid gray;
  font-size: 10px;
  padding-right: 20px;
  font-family: cursive;
  clear: both;
}
