body{
  padding: 0px;
  margin: 0px;
}
#wrapper{

}
#titleBar{
border-bottom: 1px solid black;
font-size: 70px;
margin: 20px;
text-align: center;
background-color: yellow;
border-radius: 5px;
}
#mainNavigation{
font-size: 13px;
margin: 20px;
}
#content{
  text-align: center;
  margin: 20px;
}
button.thumb{
  width: 120px;
  height: 120px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: lightgray;
  margin: 4px;
}
img.thumb{
  width: 100px;
  height: 100px;
}
#gallery{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: none;
}
#close{
  position: fixed;
  top: 0px;
  right: 0px;
  font-size: 35px;
  color: white;
  background: none;
  border: none;
  outline: none;
}
#secondaryNavigation{
    text-align: right;
    border-top: 0.5px solid lightgray;
    font-size: 12px;
    margin: 15px;
    padding-right: 10px;
    clear:both;
}
#titleImage{
  height: 80px;
  vertical-align: middle;
}
img.smallRight{
  height:200px;
  float:right;
  margin: 10px;
}
img.smallLeft{
  height:200px;
  margin: 10px;
}
img.smallCenter{
  height:200px;
  display: block;
  margin:auto;
}
img.largeCenter{
  height:400px;
  display: block;
  margin:auto;
}
