#wrapper{
  width: 80%;
  margin:auto;
  text-align: center;
}
#titleBar{
  border-bottom: 1px solid black;
  font-size: 48px;
  text-align: center;
}
#mainNavigation{
  font-size: 12px;
}
img.thumb{
  width: 150px;
  height: 150px;
  background-color:white;
  border: 5px solid black;
  border-radius: 0px;
  background-color: white;
  margin: 10px;
}
div.caption{
  display: inline-block;
}
