div{
  border: 3px solid cyan;
background-color: lightgray;
  padding: 10px;
  margin:  10px;
}
#wrapper{

}
#titleBar{
font-size: 50px;
font-family: sans-serif;
color: white;
background-color: cyan;
padding: 20px;
}
#mainNavigation{
font-family: sans-serif;
color: white;
font-size: 30px;
background-color: darkgrey;

}
#content{

}
#secondaryNavigation{

}
