body{
  background-image:url("chevron2.png");
  color:midnightblue;
  font-family:'AR CENA';
  font-size:24px;
  
}
pre.code{ 
  background-color:rgba(127,0,255,.35);
  display:inline-block;
  border-style:groove;
  border-radius:'20px';
  border-width:5px;
  margin:auto;
  
}

div.titlebox{
  border:5px solid blue;
  text-align:center;
}
button {
  border: 1px solid black;
  border-radius: 10px;
  padding:5px;
  background-color: lightgray;
  -webkit-appearance:none;
}