div{
  border: 5px solid transparent;
  padding: 10px;
  margin:  10px;
}
div{

}
canvas{
  max-width: 80%;
  max-height: 80%;
}
#wrapper{
text-align: center;
}
#titleBar{
  font-size: 42pt;
  border-bottom: 1px solid black;
}
#mainNavigation{

}
#content{

}
#secondaryNavigation{
  font-size: 12pt;
}
