
  body{
background-color: black;
    background-blend-mode: exclusion;



  }  #wrapper{
      background-color: white;
      width:80%;
      margin:auto;
      border-radius: 10px;
      overflow: hidden;
    }
    #titleDiv{
      background-color: grey;
      color:yellow;
      font-size:50px;
      text-align: center;
      padding:10px;

    }
    #primaryNavigation{
text-align-last: justify;
      text-align: center;
      border-bottom: 5px solid yellow;
    }
    #content{
      padding:15px;


    }
    #video{
      padding: 50px;
      padding-left: 130px;
      float: center;
    }
    #secondaryNavigation{
      text-align: right;
      border-top: 1px solid yellow;
      font-size: 12px;
      padding-right: 10px;
      clear:both;
    }
    p{
      text-indent: 30px;
    }
    img.a1{
      height:150px;
      float:center;
      padding: 10px;
    }
    img.a2{
      height:150px;
      float:center;
      padding: 10px;
    }
    img.flow{

      justify-content: center;
      height:550px;
    }
    #titleImage{
      height:80px;
      vertical-align: middle;
    }
    img.c1{
      height:110px;
      float:center;
      margin:10px;
      padding-top: 10px;
    }
    img.c2{
      height:110px;
      float:center;
      margin:10px;
      padding-top: 10px;
    }
    img.c3{
      height:110px;
      float:center;
      margin:10px;
      padding-top: 10px;
    }
    img.c4{
      height:110px;
      float:center;
      margin:10px;
      padding-top: 10px;
    }
    img.smallLeft{

      padding: 20px;
      border-right: : 5px solid yellow;
      height:350px;
      float:left;
      margin:10px;
    }
    img.smallCenter{
    height:200px;
    display: block;
    margin:auto;
  }
  div.tab{
    display:inline-block;
    width: 18%;
  }

p.ref{
  margin:30px;
  text-indent: -30px;
}
