body{background: black;
  text-align: center;

}
#wrapper{
text-align: center;
background-color: black;
width: 100%;
margin:auto;
border-radius:15px;
overflow:hidden;
}
#titleBar{
  background-color: darkgreen;
  color:white;
  font-size:45px;
  padding:20px;
  text-shadow:5px 5px black;
}
#mainNavigation{
color: white;
}
#content{
margin:0px;
overflow: hidden;
}
#secondaryNavigation{

}
