div{
  border: 0px solid black;
  padding: 10px;
  margin:  10px;
}
html{
  height: 100%;
}
body{
height: 100%;
}
canvas{
  max-width: 100%;
}
#wrapper{
  background-color: white;
  width: 80%;
  margin:auto;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
}
#titleBar{
  border-bottom: 1px solid black;
  font-size: 80px;
  margin: 20px;
  background-color: yellow;
  border-radius: 5px;
}
#mainNavigation{

}
#content{

}
img.hidden{
  display: none;
  max-width: 100%;
}
img{
    max-width: 100%;
}
#secondaryNavigation{
  text-align: right;
  border-top: 1px solid lightgray;
  font-size: 12px;
  padding-right: 10px;
  clear:both;
}
img.smallRight{
  height:200px;
  float:right;
  margin: 10px;
}
img.smallLeft{
  height:200px;
  margin: 10px;
}
img.smallCenter{
  height:200px;
  display: block;
  margin:auto;
}
img.largeCenter{
  height:400px;
  display: block;
  margin:auto;
}
