body{
		background-color: lightgray;
		}
	#wrapper{
		background-color: white;
		width: 80%;
		margin: auto;
		border-radius: 10px;
		overflow: hidden;
		}
	#titleBar{
		text-align: center;
		background-color: Darkred;
		color: white;
		font-size: 60px;
		padding: 10px;
		text-shadow: 3px 3px black;
		}
	#navigationBar{
		text-align: center;
		border-bottom: 1px solid gray;
		}
	#content{
		margin: 20px;
		}
	#secondaryNavigation{
		text-align: right;
		border-top: 1px solid gray;
		font-size: 10px;
		padding-right: 10px;
		}
	#titleBarImage{
		height: 40px;
		vertical-align: middle;
	}
	div.tab{
		display: inline-block;
		font-size: 20px;
		width: 18%;
	}
	img.smallRight{	
		height:	250px;
		float: right;
	}
	p.reference{
	text-indent:-30px;
	margin-left: 40px;
	}
	
	img.math{
		height: 200px;
	}
	div.tab a{
		text-decoration: none;
		color: gray;
	}