body{
  background-color: gray;
}

#wrapper{
  background-color:white;
  width:80%;
  margin:auto;
  border-radius:15px;
  overflow:hidden;
}
#titleDiv{
  background-color:pink;
  color:black;
  font-size:40px;
  padding:10px;
  text-shadow:3px 3px white;
  text-align:center;
}
#primaryNavigation{
  text-align:center;
  border-bottom:1px solid gray;
}
#content{
  padding:10px;
  text-align:center;
}
#secondaryNavigation{
  border-top:1px solid gray;
  text-align:right;
  font-size:15px;
  padding-right:20px;
  clear:both;
 }
 p{
   text-indent:30px;
 }
 #titleDivImage{
   height:60px;
   vertical-align:middle;
 }
 img.smallRight{
   height:200px;
   float:right;
   padding:10px;
 }
 img.smallLeft{
   height:100px;
   float:right;
   padding:10px;
 }
 img.smallCenter{
   height:200px;
   display: block;
   margin:auto;
   padding: 10px;
 }
 div.tab{
   display:inline-block;
   width:18%;
 }
 div.tab a{text-decoration:none;
 }
 p.ref{
   margin: 30px;
   text-indent: -30px;
 }
div.pensize{
  width:20px;
  background:black;

  display: inline-block;
}
div.one{
  height:1px;
}
div.five{
  height:5px;
}
div.eight{
  height:8px;
}
div.ten{
  height:10px;
}
div.twelve{
  height:12px;
}
div.fourteen{
  height:14px;
}
div.sixteen{
  height:16px;
}
div.eighteen{
  height:18px;
}
div.twenty{
  height:20px;
}
div.twentytwo{
  height:22px;
}
div.twentyfour{
  height:24px;
}

div.pencolor{
  width:20px;
  display: inline-block;
  height:20px;
}

div.black{
  background:black;
}
div.red{
  background:red;
}
div.orange{
  background:orange;
}
div.yellow{
  background:yellow;
}

div.green{
  background:green;
}
div.blue{
  background:blue;
}
div.purple{
  background:purple;
}
div.pink{
  background:pink;
}
div.grey{
  background:grey;
}
div.brown{
  background:brown;
}
div.white{
  border:1px solid black;
  background:white;
}
