body{
		background-color: rgb(255,243,176);
		}
	#wrapper{
		border: none;
		background-color: white;
		width: 50%;
		margin: auto;
		overflow: hidden;
		}
	#titleBar{
		border: none;
		background-color: rgb(224,159,62);
		color: white;
		font-size: 40px;
		font-family: times;
		text-align: left;
		height:60px;
		}
	#content{
		margin: 5px;
		border: none;
		text-align:left;
		}
	#description{
		text-align: left;
		border: none;
		font-size: 20px;
		font-family: helvetica;
		padding-right: 10px;
		}

    #mainNavigation{
      text-align:left;
    }

	#spork{
		text-align:left;
		padding-top: 30px;
		padding-bottom: 10px;
		}

	#penSelect{
	float:left;
	}

	#sizeSelect{

	}

	#colorSelect{

	}

	#

img.sporkimage{
	height: 400px;
}
