
body{
  background-color: rgba(169, 224, 121, 0.25)
}

#Header{
  font-size: 30px;
  font-family: "{text:Header Google Web Font}", "{text:Body Google Web Font}", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 20px;
  text-align: center;
}
#NavBar {
  text-align: center;
  background: rgba(169, 224, 121, 0.75);
  padding: 20px;
 font-family: "{text:Header Google Web Font}", "{text:Body Google Web Font}", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


/*controls all content lines*/
#Content {
  margin: 20px;
  padding-left: 200px;
  padding-right: 200px;
  text-align: left;
  font-family: "{text:Header Google Web Font}", "{text:Body Google Web Font}", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
#SecondaryNav {
  text-align: right;
  border-top: 1px solid black;
  font-size: 12px;
  padding-right: 20px;
  font-family: "{text:Header Google Web Font}", "{text:Body Google Web Font}", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  height: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 20px;
}


/* controls headers*/
#Title{
  font-size: 30px;
  font-family: "{text:Header Google Web Font}", "{text:Body Google Web Font}", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center;
}
#subTitle{
  font-size: 25px;
  font-family: "{text:Header Google Web Font}", "{text:Body Google Web Font}", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center;
  padding: 20px;
}

/*controls all link styles*/
a{
  text-decoration: none;
  color: rgba(169, 224, 121, 0.75);
}
a.tab{
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}
a.tab a{
  text-decoration: none;
  color: black;
}
a.info{
  color: white;
  border-bottom: 1.5px solid white;
}
a.info a{
  text-decoration: none;
  color: black;
}


/* HERE DOWN CONTROLS GALLERY*/

#buttonDiv{
  width: 75%;
  margin: auto;
  text-align: center;
}
img.thumbnail{
  width: 100px;
  height: 100px;
}
button.thumbnail{
  background: none;
  margin-top: 20px;
  padding: 5px;
  height: 115px;
  width: 115px;
  border-radius: 0px;
  border: none;
  outline: none;
}
#gallery{
  background: rgba(81, 81, 81, 0.42);
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: none;
}
#both{
  position: absolute;
  top: 5%;
  bottom: 5%;
  right: 5%;
  left: 5%;
}
#picture{
  height: 90%;
  position: relative;
}
#caption{
  height: 10%;
  color: black;
  text-align: center;
  font-family: "{text:Header Google Web Font}", "{text:Body Google Web Font}", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

}
#galleryPicture{
  background: white;
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin: auto;
}
#closeButton{
  position: absolute;
  top: 0px;
  right: 0px;
  color: black;
  background: none;
  font-size: 40px;
  border: none;
  outline: none;
}
#right{
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 50%;
  border: none;
  background: none;
  color: black;
  text-align: right;
  outline: none;
  font-size: 40px;
}
#left{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 50%;
  border: none;
  background: none;
  color: black;
  text-align: left;
  outline: none;
  font-size: 40px;
}

/* TABLE STYLE HERE*/


table{
  margin: auto;
  border-collapse: collapse;
  font-family: "{text:Header Google Web Font}", "{text:Body Google Web Font}", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
td {
    padding: 20px;
    text-align: left-justify;
    font-family: "{text:Header Google Web Font}", "{text:Body Google Web Font}", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

}
#cited{
  padding: 20px;
  text-align: center;
  background-color: rgba(169, 224, 121, 0.75);
  font-family: "{text:Header Google Web Font}", "{text:Body Google Web Font}", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
}
#information{
  padding: 20px;
  text-align: center;
  background-color: rgba(169, 224, 121, 0.75);
  font-family: "{text:Header Google Web Font}", "{text:Body Google Web Font}", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  color: white;
}
#service{
  text-align: center;
  background-color: rgba(169, 224, 121, 0.75);
  font-family: "{text:Header Google Web Font}", "{text:Body Google Web Font}", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  color: white;
  margin: auto;
  padding: 15px;
}
.sTable{
  padding: 10px;
}

/* IMAGE STYLE */

img{
  width: 70%;
  height: auto;
  display: block;
  margin: auto;
}
#wrap{
margin: auto;
width: 70%;
overflow: auto;
font-family: "{text:Header Google Web Font}", "{text:Body Google Web Font}", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
background-color: rgba(169, 224, 121, 0.75);
padding-top: 20px;
padding-bottom: 20px;
padding-left: 190px;
padding-right: 190px;
}
#wrap2{
margin: auto;
width: 70%;
overflow: auto;
font-family: "{text:Header Google Web Font}", "{text:Body Google Web Font}", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 190px;
padding-right: 190px;
}
.left{
   width: 55%;
   padding: 10px;
   margin: auto;
   display: inline-block;
   vertical-align: middle;
 }
 .right{
   width: 40%;
   display: inline-block;
   vertical-align: middle;
   margin: auto;
}
