body{
background-color: lightgrey;
}
#homeTab{
  background-color: aqua;
  border: 20px;
  font-size: 50px;
  font color: darkgrey;
  font-family: sans-serif;
  text-align: center;
  padding: 3%

}

#randomCircles{
  background-color: grey;
  border: 20px;
  font-size: 25px;
  font color: aqua;
  font-family: sans-serif;
  width:80%;
  margin:auto;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 3%
}
#randomEyes{
  background-color: grey;
  border: 20px;
  font-size: 25px;
  font color: aqua;
  font-family: sans-serif;
  width:80%;
  margin:auto;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 3%
}
#randomCreature{
  background-color: grey;
  border: 20px;
  font-size: 25px;
  font color: aqua;
  font-family: sans-serif;
  width:80%;
  margin:auto;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 3%
}
#randomPattern{
  background-color: grey;
  border: 20px;
  border-color: aqua;
  font-size: 25px;
  font color: aqua;
  font-family: sans-serif;
  width:80%;
  margin:auto;
  border-radius: 10px;
  overflow: hidden;
text-align: center;
padding: 3%
}
#randomLines{
  background-color: grey;
  border: 20px;
  font-size: 25px;
  font color: aqua;
  font-family: sans-serif;
  width:80%;
  margin:auto;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 3%
}
