body{
  background-color: pink;
}
#wrapper{
  background-color: white;
  width: 90%;
  margin:auto;
  border-radius:10px;
  overflow: hidden;
  font-size: 20px;
}
#titleDiv{
  background-color: lightgray;
  color: white;
  font-size: 65px;
  padding: 10px;
  text-align:center;
}
#mainNavigation{
font-size: 13px;
  text-align: center;
  border-bottom: 1px solid lightgray;
}
#content{
  padding:10px;
  text-align:center;}

p{
  text-indent: 27px
}

img.smallRight{
  height:200px;
  float:right;
  margin:10px;
}
img.smallLeft{
  height:200px;
  float:left;
  margin:10px;
}
img.smallCenter{
  height:200px;
  display:block;
  margin:auto;
}
  div.tab{
    display:inline-block;
    width: 12%;
    text-align:center
  }
  p.ref{
  margin:30px;
    text-indent: -30px;
  }
