body{
		background-color: red;
		}
	#wrapper{
		background-color: white;
		width: 80%;
		margin: auto;
		border-radius: 10px;
		overflow: hidden;
		}
	#titleBar{
		background-color: lightgray;
		color: black;
		font-size: 70px;
		padding: 10px;
		text-shadow: 1px 2px red;
		}
	#navigationBar{
		text-align: center;
		border-bottom: 1px solid gray;
		}
	#content{
		margin:20px;
		font-size: 20px;
		}
	#secondaryNavigation{
		text-align: right;
		border-top: 1px solid gray;
		font-size: 10px;
		padding-right: 10px;
		}
	#titleBarImage{
	  height:80px;
	  vertical-align: middle;
	}
	div.tab{
	  display: inline-block;
	  width: 18%;
	} 
	img.smallRight{
	  height: 250px;
	  float: right;
	}
