button{
	-webkit-appearance: none;
}
#Title{
background-color: purple;
width: 90%;
height: 50px;
margin: auto;
font-family: 'Courier New';
font-size: 40px;
color: yellow;
text-align: center;
margin-bottom: 20px;
}
#Body{
background-color: yellow;
width: 90%;
text-align: center;
margin: auto;
margin-bottom: 20px;
}
#Footer{
background-color: purple;
width: 90%;

margin: auto;
font-family: 'Courier New';
font-size: 15px;
color: yellow;
text-align: center;
}
#spork{
margin: auto;
}
#Footer a{color: yellow;}