button{
	-webkit-appearance: none;
}
body{
	font-size:25px;
	background: gainsboro;
	padding: 0px;
	margin: 0px;

}
div.title{
	color: cornsilk;
	background: teal;
	text-align: center;
	font-size: 35px;
	margin: 0px;
	content: 20px;
}
div.header{
	text-align: center;
}
div.content{
	text-align:center;
	
}

div.footer{
	color: white;
	font-size: 15px;
	position: fixed;
	bottom: 0px;
	text-align: center;
	background: forestgreen;
	width:100%;
}
h1{
	margin: 0px;
}
h2{
	margin:0px;
}
div.ol{
	margin: auto;
	text-align:center;	
	
}