body{

  background-color: gray;
  }
#wrapper{
  background-color: white;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  }
#titleBar{
  background-color: #451f3b;
  color: white;
  font-size: 40px;
  padding: 10px;
  text-shadow: 3px 3px black;
  }
#navigationBar{
  background-color: white;
  text-align: center;
  border-bottom: 1px solid gray;
  }
#content{
  margin: 20px;
  }
#secondaryNavigation{
  text-align: right;
  border-top: 1px solid gray;
  font-size: 10px;
  padding-right: 10px;
  clear:both;
  }
  #titleBarImage{height:60px;
vertical-align: middle;	}
div.tab{
display: inline-block;
width: 18%;}

img.smallRight{
  height: 250px;
  float: right;

}
img.smallcenter{
height:250px;
float: none;
}
img.math{
  height:500px;
  float: none;
}
