div{
  background-color: lightgray;
  border: 0px solid black;
  padding: 10px;
  margin:  10px;
}
#wrapper{
text-align:center;
}
#titleBar{

}
#mainNavigation{

}
#content{

}
#secondaryNavigation{

}
