#wrapper{
width: 80%;
margin: auto;
}
#titleBar{
border-bottom: 1px solid black;
font-size: 70px;
text-align: center;
}
#mainNavigation{
font-size: 9px;
text-align: center;
}
#primaryNavigation{
  text-align: center;
}
#content{
text-align: center;
}
div.tab{
  display: inline-block;
  width: 10%;
}
