body{
  background-color:lightgray;
}
#wrapper{
  background-color:white;
  width:80%;
  margin:auto;
  border-radius:10px;
  overflow:hidden;
}
#titleDiv{
  background-color:turquoise;
  color:white;
  font-size:40px;
  padding:10px;
  font-family:verdana;
  text-align:center;
}
img.smallLeft{
  height:300px;
  width:300px;
  float:left;
  margin-left:10px;
  margin-right:10px;
  margin-top: 10px;
  margin-bottom:10px;
}
img.smallCenter{
  height:300px;
  width:300px;
  margin-left:10px;
  margin-right:10px;
  margin-top: 10px;
  margin-bottom:10px;
}
img.smallRight{
  height:300px;
  width:300px;
  float:right;
  margin-left:10px;
  margin-right:10px;
  margin-top: 10px;
  margin-bottom:10px;
}
#secondaryNavigation{
text-align: right;
border-top: 1px solid lightgray;
font-size: 12px;
padding-right: 10px;
clear: both
}
p{
  text-indent: 27px
}
