body{
  background-color: white;
  }
#wrapper{
  background-color: white;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  }
#titleBar{
  background-color: white;
  color: black;
  font-family: cursive;
  font-size: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: underline;
  text-shadow: 1px 1px yellow;
  }
  p{
    padding-top: 0px;
  }
  div.tab a{
    text-decoration: none;
    color: darkred;
  }
  div.tab{
    display: inline-block;;
    padding: .1%;
  }
  img.smallLeft{
    height: 130px;
    float: left;
    padding-left: 20px
    padding-right: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
