#wrapper{
width:80%;
margin: auto;
}
#titleBar{
border-bottom: 1px solid black;
font-size: 50px;
}
#mainNavigation{
font-size: 12px;
}
#content{
width:70%;
margin:auto;
}
button.thumb{
  width:120px;
  height:120px;
  border:1px solid black;
  border-radius: 0px;
  background:slategray;
  margin:7px;
}
img.thumb{
  width:100px;
  height:100px;
}
#gallery{
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:rgba(119,136,153,0.97);
  display:none;
}
#close{
  position:fixed;
  top:0px;
  right:0px;
  font-size: 40px;
  color:white;
  background:none;
  border:none;
  outline:none;
}
#caption{

}
#photoDiv{
  display: table-cell;
  vertical-align: middle;
  text-align:center;
}
#photo{
  max-width:70%;
  max-height:70%;
  
}
#rightButton{
  position:fixed;
  right:0px;
  top:0px;
  height:100%;
  width:45%;
  border:none;
  background:none;
  outline:none;
  font-size:40px;
  color:white;
  text-align:right;

}
#leftButton{
  position:fixed;
  left:0px;
  top:0px;
  height:100%;
  width:45%;
  border:none;
  background:none;
  outline:none;
  font-size:40px;
  color:white;
  text-align:left;
}
#secondaryNavigation{

}
