body{
  background-color: slategrey;
}
div{
  border: 2px solid midnightblue;
  padding: 10px;
  margin:  10px;
}

#titleBar{
  background-color: midnightblue;
  color: white;
  text-align:center;
  font-size: 70px;
  padding: 10px;
  border-radius: 10px;
  font-family: cursive;
  text-shadow: 1px 1px lime;


}
#mainNavigation{
text-align: center
}
#content{
text-align: center;
text-indent: 10px
}
#secondaryNavigation{
text-align: right
}
