body{
	background-color:skyblue;
	}
#wrapper{
	background-color:white;
	width:80%;
	margin:auto;
	border-radius: 10px;
	overflow: hidden;
	}

#title{
	background-color:navy;
	color:white;
	font-size:35px;
	padding: 10px;
	text-shadow: 2px 0px black;
}

#navigation{
	text-align: center;
	border-bottom: 1px solid gray;
	}

#secondnavigation{
	text-align: right;
	border-top: 1px solid gray;
	font-size: 9px;
	padding-right: 10px;
	}

#content{
	margin: 10px;
	}

img.smallPic{
	height:250px;
	float: right;
	}
img.mathPic{
	display: block;
   	margin-left: auto;
    	margin-right: auto
	}
div.tab{
	display:inline-block;
	width: 18%;
	}

div.tab a{
	text-decoration: none;
	}
p.reference{
	text-indent:-30px;
	margin-left: 30px;
	}