div{
  margin: auto;
}

body{
  background-color: lightgray;
}

#wrapper{
  text-align: center;
  background-color: white;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
}

#titleBar{
  background-color: black;
  color: red;
  font-size: 64px;
  padding: 10px;
}
img.smallCenter{
  height: 300px;
}
#mainNavigation{
  text-align: center;
}
div.tab{
  display: inline-block;
  width: 15%;
}
#content{
  font-size: 40px;
  color: red;
}
#secondaryNavigation{
  text-align: right;
  border-top: 1px solid black;
  font-size: 10px;
  padding-right: 15px;
  clear:both;
}
