button{
	-webkit-appearance: none;
}
div.headerDiv {
	background: lightgreen;
	font-size: 80px;
	text-align: center;
	text-shadow: 5px 5px 10px orange;
}

div.bodyDiv {
	background: red;
	height: auto;
	font-size: 20px;
	color: white;
	padding: 50px;
	text-align: center;
	width: 90%;
	margin: auto;
}

div.footerDiv {
	background: lightgreen;
	text-align: center;
}

body {
	background: black;
}

div.title {
	font-size: 40px;
	text-decoration: underline;
}