
		#title{
			text-align: center;
			font-size: 40px;
			font-family: georgia;
			color: darkblue;
			background: goldenrod;
			padding: 10px;
			margin: 10px;
		}

		#body{
			text-align: center;
			font-size: 15px;
			font-family: helvetica;
			color: darkblue;
			background: lightgrey;
			padding: 5px;
			margin: 10px;
			padding-bottom: 30px;
		}

		#footer{
			font-family: courier;
			text-align: center;
			font-size: 12px;
			color: goldenrod;
			background: darkblue;
			padding: 5px;
			position: fixed;
			bottom: 10px;
			left: 10px;
			right: 10px;
		}

		body{
			background: maroon;
			margin: 0px;
			padding: 0px;
		}

		#footer a{
			color:white;
		}
		
		#body a{
			color: maroon;
		}