body{
  background-color: gainsboro;
  font-family: sans-serif;
  }
#wrapper{
  background-color: ghostwhite;
  width: 70%;
  margin: auto;
  overflow: hidden;
  }
#titleBar{
  background-color: darkslategray;
  color: white;
  font-size: 50px;
  font-weight: lighter;
  text-align: center;
  padding: 10px;
  }
#navigation{
  text-align: center;
  border-bottom: 1px solid darkslategray;
  }
div.tab{
  display: inline-block;
  width:15%;
}
div.tab a{
  text-decoration: none;
}
#content{
  margin:20px;
  text-align: center;
  }
img.home{
  height:500px;
  margin: auto;
}


#bottomNav{
  text-align: right;
  font-size: 12px;
  border-top: 1px solid darkslategray;
  padding-right: 10px;
  clear: both;
  }
